#content {
  margin: auto;
  width: 900px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 17px;
  padding: 30px 50px;
}

#header{
    font-family: Verdana, Geneva, sans-serif;
    margin-left: 520px;
    font-size: 30px;
}

.tab {
  margin-left:-50px;
  width: 1000px;
  overflow: hidden; 
  border: 1px solid;
  background-color: #f1f1f1;
  padding: 14px 16px;
  font-size: 17px;
}

.tab a {
  background-color: #f1f1f1; 
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
  color: black;
}

.tab a:visited {
  background-color: #f1f1f1; 
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
  color: black;
}
