#content {
  margin: auto;
  width: 1000px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 17px;
}

#greeting-container {
  margin-top: 20px;
}

#header{
    font-family: Verdana, Geneva, sans-serif;
    margin-left: 520px;
    font-size: 30px;
}

.tab {
  overflow: hidden; 
  border: 1px solid;
  background-color: #f1f1f1;
}

.tab button {
  background-color: #f1f1f1; 
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}

.tabcontent {
  display: none;
  padding: 30px 50px;
  border: 1px solid;
  border-top: none;
}
